

.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
}

.node-finish {
  background-color: red;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)' %3E%3Cpath d='M 45 48 c -0.768 0 -1.536 -0.293 -2.122 -0.879 c -1.171 -1.171 -1.171 -3.071 0 -4.243 l 16.474 -16.473 c 1.172 -1.171 3.07 -1.171 4.242 0 c 1.172 1.171 1.172 3.071 0 4.243 L 47.121 47.121 C 46.535 47.707 45.768 48 45 48 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 72.391 32.782 c -0.113 0 -0.229 -0.006 -0.343 -0.02 l -10.917 -1.255 c -1.386 -0.159 -2.479 -1.252 -2.638 -2.638 l -1.255 -10.918 c -0.104 -0.91 0.212 -1.817 0.859 -2.464 L 71.322 2.263 c 0.814 -0.815 2.025 -1.089 3.108 -0.712 c 1.087 0.379 1.861 1.347 1.993 2.49 l 0.982 8.552 l 8.553 0.982 c 1.144 0.131 2.111 0.906 2.49 1.993 s 0.103 2.295 -0.712 3.109 L 74.512 31.903 C 73.946 32.469 73.182 32.782 72.391 32.782 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 45 73.667 c -15.807 0 -28.667 -12.86 -28.667 -28.667 S 29.193 16.333 45 16.333 c 1.13 0 2.292 0.082 3.656 0.256 c 1.643 0.21 2.805 1.713 2.594 3.357 c -0.211 1.643 -1.706 2.806 -3.357 2.594 c -1.104 -0.142 -2.024 -0.208 -2.893 -0.208 c -12.499 0 -22.667 10.168 -22.667 22.667 c 0 12.499 10.168 22.667 22.667 22.667 c 12.499 0 22.667 -10.168 22.667 -22.667 c 0 -0.866 -0.066 -1.786 -0.208 -2.894 c -0.211 -1.644 0.951 -3.146 2.595 -3.357 c 1.637 -0.214 3.146 0.951 3.356 2.594 c 0.175 1.367 0.257 2.529 0.257 3.656 C 73.667 60.807 60.807 73.667 45 73.667 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 45 57.333 c -6.801 0 -12.333 -5.532 -12.333 -12.333 c 0 -6.131 4.4 -11.253 10.462 -12.18 c 1.632 -0.258 3.169 0.874 3.419 2.512 c 0.25 1.638 -0.875 3.168 -2.513 3.418 c -3.061 0.468 -5.369 3.154 -5.369 6.249 c 0 3.492 2.841 6.333 6.333 6.333 c 3.095 0 5.781 -2.308 6.249 -5.368 c 0.251 -1.639 1.791 -2.767 3.419 -2.512 c 1.638 0.25 2.763 1.781 2.513 3.418 C 56.254 52.934 51.132 57.333 45 57.333 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3Cpath d='M 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 3.802 0 7.604 0.487 11.298 1.449 c 1.604 0.417 2.564 2.055 2.147 3.659 c -0.417 1.603 -2.05 2.567 -3.659 2.148 C 51.585 6.422 48.293 6 45 6 C 23.495 6 6 23.495 6 45 s 17.495 39 39 39 s 39 -17.495 39 -39 c 0 -3.292 -0.422 -6.584 -1.255 -9.788 c -0.417 -1.604 0.545 -3.241 2.148 -3.658 c 1.603 -0.417 3.242 0.545 3.658 2.148 C 89.513 37.398 90 41.199 90 45 C 90 69.813 69.813 90 45 90 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round' /%3E%3C/g%3E%3C/svg%3E");  

}

.node-start {
  background-color: green;
  background-image: url("data:image/svg+xml,%3Csvg class='svg-icon' style='width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M682.666667 533.333333a21.333333 21.333333 0 0 1-15.146667-6.186666l-298.666667-298.666667a21.333333 21.333333 0 0 1 30.293334-30.293333l298.666666 298.666666a21.333333 21.333333 0 0 1 0 30.293334A21.333333 21.333333 0 0 1 682.666667 533.333333z' fill='%23333333' /%3E%3Cpath d='M384 832a21.333333 21.333333 0 0 1-15.146667-6.186667 21.333333 21.333333 0 0 1 0-30.293333l298.666667-298.666667a21.333333 21.333333 0 0 1 30.293333 30.293334l-298.666666 298.666666A21.333333 21.333333 0 0 1 384 832z' fill='%23333333' /%3E%3C/svg%3E");

}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  color: black;
}
.arrow {
  background-image: url("data:image/svg+xml,%3Csvg class='svg-icon' style='width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M682.666667 533.333333a21.333333 21.333333 0 0 1-15.146667-6.186666l-298.666667-298.666667a21.333333 21.333333 0 0 1 30.293334-30.293333l298.666666 298.666666a21.333333 21.333333 0 0 1 0 30.293334A21.333333 21.333333 0 0 1 682.666667 533.333333z' fill='%23333333' /%3E%3Cpath d='M384 832a21.333333 21.333333 0 0 1-15.146667-6.186667 21.333333 21.333333 0 0 1 0-30.293333l298.666667-298.666667a21.333333 21.333333 0 0 1 30.293333 30.293334l-298.666666 298.666666A21.333333 21.333333 0 0 1 384 832z' fill='%23333333' /%3E%3C/svg%3E");
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
