.grid {
  margin: 0;
  font-size: 0;
  white-space: nowrap;
  margin-top: 2vh;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: calc(3vmin);
  /* margin: 6vh; */
}
.box {
  width: calc(20% - 2vw);
  background-color: #ccc;
}
/* toggle bettween options in header */
input[type="radio"]{
	-webkit-appearance:none;
}
label{
  width: 10vw;
  flex-direction: row;
	border:1px solid black;
	border-radius: 10px;
	color: black;
	transition: 0.5s;
}
input[type="radio"]:checked + label{
	background-color: #009e52;
	color: black;
	/* box-shadow: 0 5px 15px rgba(1, 255, 65, 0.35); */
}