.nav {
  display: inline-block;
  background: #0d2035;
  color: #fff;
}
.nav__menu {
  margin: 0;
}

.nav__submenu {
  display: none;
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 180px;
  background-color: #00aeef;
}
.nav__submenu-item {
  &:hover {
    background: #2984ec;
  }
}

.nav__menu-item {
  display: inline-block;
  position: relative;
  &:hover {
    background-color: #00aeef;

    .nav__submenu {
      display: block;
    }
  }
}
.button-01{
  background: none;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
  color: #ecf0f1;
  border: none;
  text-transform: uppercase;
}

  
