.nav {
  background: #0d2035;
  color: #fff;
}
.nav__menu {
  margin: 0;
}

.nav__submenu {
  padding-inline-start: 0px;
  width: 30vh;
  display: none;
  position: absolute;
  background-color: #00aeef;
}
.nav__submenu-item {
  list-style: none;
  
  &:hover {
    background: #2984ec;
  }
}

.nav__menu-item {
  display: inline-block;
  position: relative;
  &:hover {
    background-color: #00aeef;
    .nav__submenu {
      display: block;
    }
  }
}
.button-01{
  background: none;
  border: none;
  cursor: pointer;
  color: #ecf0f1;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  margin-right:15px;
  margin-left:15px;
}
.button-02{
  background: none;
  border: none;
  /* border: 0.5vh solid #2984ec; */
  cursor: pointer;
  color: #ecf0f1;
  text-transform: uppercase;
  font-size: 14px;
}
  
